# Database
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/DBNAME"

# App Security
APP_SECRET="change-me-to-a-long-random-secret-at-least-32-characters"

# Admin Account (used for seeding)
ADMIN_EMAIL="admin@smartcopons.com"
ADMIN_PASSWORD="ChangeThisPassword123!"

# App URL
NEXT_PUBLIC_APP_URL="https://sa.smartcopons.com"
